.navbar {
    transition: all 0.3s ease-in-out;
}

.active-link {
    color: var(--primary) !important;
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px;
}

.hover-scale:hover {
    transform: scale(1.1);
}

.drop-shadow {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}